<body>
  <main>
    <section class="wrapper">
      <header class="header">
        <h1>T O D O</h1>
        <img src="./../../../assets/icon-moon.svg" alt="moon-icon" />
      </header>
      <div class="input-container">
        <span class="circle"></span>
        <input
          class="create-todo"
          type="text"
          placeholder="Create a new todo..."
          (keydown.enter)="saveTodo($event)"
        />
      </div>
      <div
        class="todo-container"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="filteredTodos$"
      >
        <ul>
          <div
            class="todo-element"
            [ngClass]="{ completed: todo.isCompleted }"
            cdkDrag
            [cdkDragData]="todo"
            *ngFor="let todo of filteredTodos$ | async"
          >
            <label class="checkbox-label">
              <input
                class="checkbox"
                type="checkbox"
                [checked]="todo.isCompleted"
                (change)="changeTodoStatus(todo.id)"
              />
              <span class="checkbox-circle"></span>
            </label>
            <li class="todo-description">{{ todo.description }}</li>
            <button class="btn-delete" (click)="removeTodo(todo.id)">
              <img src="./../../../assets/icon-cross.svg" alt="cross" />
            </button>
          </div>
        </ul>
        <div class="actions">
          <p class="items-left">
            {{ itemsLeft$ | async }} {{ itemsLeftText$ | async }}
          </p>
          <div class="filters" *ngIf="desktop$ | async">
            <button
              [ngClass]="{ active: (filter$ | async) === filterEnum.all }"
              (click)="selectFilter(filterEnum.all)"
            >
              All
            </button>
            <button
              [ngClass]="{ active: (filter$ | async) === filterEnum.active }"
              (click)="selectFilter(filterEnum.active)"
            >
              Active
            </button>
            <button
              [ngClass]="{
                active: (filter$ | async) === filterEnum.completed
              }"
              (click)="selectFilter(filterEnum.completed)"
            >
              Completed
            </button>
          </div>
          <button class="btn-clear" (click)="removeCompleted()">
            Clear Completed
          </button>
        </div>
      </div>
      <div class="filters" *ngIf="mobile$ | async">
        <button
          [ngClass]="{ active: (filter$ | async) === filterEnum.all }"
          (click)="selectFilter(filterEnum.all)"
        >
          All
        </button>
        <button
          [ngClass]="{ active: (filter$ | async) === filterEnum.active }"
          (click)="selectFilter(filterEnum.active)"
        >
          Active
        </button>
        <button
          [ngClass]="{
            active: (filter$ | async) === filterEnum.completed
          }"
          (click)="selectFilter(filterEnum.completed)"
        >
          Completed
        </button>
      </div>
      <p class="drag-info">Drag and drop to reorder list</p>
    </section>
  </main>
</body>
