@import "./../../../styles/variables.scss";
@import "./../../../styles/mixins.scss";

.create-todo {
  flex: 1;
  border: none;
  background-color: white;
  color: $Very-Dark-Grayish-Blue;
  font-size: 1rem;
  margin-right: 1.3rem;
  outline: none;
}

h1 {
  font-size: 2.3rem;
  font-weight: 700;
  color: white;
}

.input-container {
  @include flexboxcustom();
  background-color: white;
  height: 3.4rem;
  margin-top: 1.5rem;

  span {
    width: 26px;
    height: 26px;
    border: 2px solid $Light-Grayish-Blue;
    border-radius: 50%;
    margin: 0 1.3rem;
  }
}

.header {
  @include flexboxcustom();
}

.wrapper {
  @include flexboxcustom(flex-start, column);
  padding: 75px 0;
  width: 38%;
  min-height: 90vh;

  > * {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 18px;
  }
}

.todo-container {
  background-color: white;
  box-shadow: 1px 11px 89px $Light-Grayish-Blue;
}

.todo-element {
  background-color: white;
  list-style: none;
  cursor: pointer;
}
