@import "./../../../styles/variables.scss";

.create-todo {
  flex: 1;
  border: none;
  background-color: $Very-Light-Grayish-Blue;
  color: $Dark-Grayish-Blue;
  font-size: 1rem;
  margin-right: 1.3rem;
  outline: none;
}

h1 {
  font-size: 2.3rem;
  font-weight: 700;
  color: white;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: $Very-Light-Grayish-Blue;
  height: 3.4rem;
  margin-top: 1.5rem;

  span {
    width: 26px;
    height: 26px;
    border: 2px solid $Dark-Grayish-Blue;
    border-radius: 50%;
    margin: 0 1.3rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
}

.wrapper {
  padding: 75px 0;
  width: 38%;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  > * {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 18px;
  }
}

.todo-element {
  width: 100%;
  background-color: white;
  list-style: none;
  cursor: pointer;
}
