<body>
  <main>
    <section class="wrapper">
      <header class="header">
        <h1>T O D O</h1>
        <img src="./../../../assets/icon-moon.svg" alt="moon-icon" />
      </header>
      <div class="input-container">
        <span class="circle"></span>
        <input
          class="create-todo"
          type="text"
          placeholder="Create a new todo..."
          (keydown.enter)="saveTodo($event)"
        />
      </div>
      <div class="todo-container">
        <ul>
          <div class="todo-element" *ngFor="let todo of filteredTodos$ | async">
            <label class="checkbox-label">
              <input class="checkbox" type="checkbox" />
              <span class="checkbox-circle"></span>
            </label>
            <li class="todo-description">{{ todo.description }}</li>
            <button class="btn-delete">
              <img src="./../../../assets/icon-cross.svg" alt="cross" />
            </button>
          </div>
        </ul>
        <div class="actions">
          <p class="items-left">{{ itemsLeft }} items left</p>
          <div class="filters">
            <button class="filter-btn all active">All</button>
            <button class="filter-btn live">Active</button>
            <button class="filter-btn completed-btn">Completed</button>
          </div>
          <button class="btn-clear">Clear Completed</button>
        </div>
      </div>
      <p class="drag-info">Drag and drop to reorder list</p>
    </section>
  </main>
</body>
