@import "./../../../styles/variables.scss";
@import "./../../../styles/mixins.scss";

.wrapper {
  @include flexboxcustom(flex-start, column);
  padding: 75px 0;
  width: 38%;
  min-height: 90vh;

  > * {
    width: 100%;
    border-radius: $Border-Radius;
    margin-bottom: 18px;
  }
}

button {
  user-select: none;
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-weight: $Bold;
  color: $Dark-Grayish-Blue;

  &:hover {
    color: $Very-Dark-Grayish-Blue;
  }
}

.active {
  color: $Bright-Blue;
}

.header {
  @include flexboxcustom();
}

h1 {
  font-size: 2.3rem;
  font-weight: $Bold;
  color: $Very-Light-Gray;
}

.input-container {
  @include flexboxcustom();
  background-color: $Very-Light-Gray;
  height: $Height;
  margin-top: 1.5rem;

  span {
    width: $Circle-Radius;
    height: $Circle-Radius;
    border: 2px solid $Light-Grayish-Blue;
    border-radius: 50%;
    margin: 0 1.3rem;
  }
}
.create-todo {
  flex: 1;
  border: none;
  background-color: $Very-Light-Gray;
  color: $Very-Dark-Grayish-Blue;
  font-size: 1rem;
  margin-right: 1.3rem;
  outline: none;
}

.todo-container {
  background-color: $Very-Light-Gray;

  ul {
    list-style: none;
  }
}

.todo-element {
  @include flexboxcustom();
  height: $Height;
  background-color: $Very-Light-Gray;
  border-bottom: 1px solid $Light-Grayish-Blue;
  padding: 0 0.5rem 0 1.3rem;

  &:first-of-type {
    border-top-left-radius: $Border-Radius;
    border-top-right-radius: $Border-Radius;
  }

  .btn-delete {
    width: 2.2rem;
    height: 2.2rem;
    visibility: hidden;
    pointer-events: none;
  }
  &:hover > .btn-delete {
    visibility: visible;
    pointer-events: all;
  }
}

.todo-element.cdk-drag-preview {
  opacity: 0.4;
  background-color: $Very-Light-Gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.checkbox-label {
  @include flexboxcustom(center);
  width: $Circle-Radius;
  height: $Circle-Radius;
  position: relative;
  background-color: $Light-Grayish-Blue;
  border: 1px solid $Light-Grayish-Blue;
  border-radius: 50%;
  cursor: pointer;

  .checkbox-circle {
    width: 22px;
    height: 22px;
    background-color: $Very-Light-Gray;
    border-radius: 50%;
  }

  &:hover {
    background-image: $Check-Background;
  }

  .checkbox {
    width: 0;
    height: 0;
    position: absolute;
    cursor: pointer;

    &:checked + .checkbox-circle {
      background-image: url("./../../../assets/icon-check.svg"),
        $Check-Background;
      background-repeat: no-repeat;
      background-position: center;
      width: $Circle-Radius;
      height: $Circle-Radius;
    }
  }
}

.todo-description {
  flex: 1;
  padding-left: 1.3rem;
  color: $Very-Dark-Grayish-Blue;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: $Light-Grayish-Blue;
  text-decoration-thickness: 1px;
  li {
    color: $Light-Grayish-Blue;
  }
}

.actions {
  @include flexboxcustom();
  height: $Height;
  padding: 1rem;
  box-shadow: 0px 64px 48px 12px $Light-Grayish-Blue;
  .items-left {
    color: $Dark-Grayish-Blue;
    font-size: 0.8rem;
    width: 4.3rem;
  }

  .btn-clear {
    font-weight: $Normal;
  }
}

.filters {
  @include flexboxcustom(space-between);
  height: $Height;
  padding-left: 1.5rem;
  width: 11rem;
}

.drag-info {
  margin-top: 2rem;
  text-align: center;
  color: $Dark-Grayish-Blue;
  font-size: 0.8rem;
}

@import "./../../../styles/media-queries.scss";
