<body>
  <main>
    <section class="wrapper">
      <header class="header">
        <h1>T O D O</h1>
        <img src="./../../../assets/icon-moon.svg" alt="moon-icon" />
      </header>
      <div class="input-container">
        <span class="circle"></span>
        <input
          class="create-todo"
          type="text"
          placeholder="Create a new todo..."
        />
      </div>
      <ul>
        <li class="todo-element" *ngFor="let todo of todos">
          {{ todo.description }}
        </li>
      </ul>
    </section>
  </main>
</body>
