@import "variables";
@import "mixins";

html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./../assets/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $Very-Light-Gray;
  min-height: 100vh;
}

main {
  @include flexboxcenter();
}
