@import "./variables.scss";

$Height: 2.8rem;

@media all and (max-width: 769px) {
  body {
    background-image: url("./../assets/bg-mobile-light.jpg");
  }

  .wrapper {
    width: 87%;
    padding: 35px 0;
  }

  button:hover {
    color: $Bright-Blue;
  }

  header {
    height: $Height;
    margin-bottom: 0;

    h1 {
      font-size: 1.5rem;
    }

    img {
      width: 1.1rem;
    }
  }

  .input-container {
    margin-top: 0.2rem;
    height: $Height;
  }

  .todo-element {
    height: $Height;
    > .btn-delete {
      visibility: visible;
    }
  }

  .actions {
    height: $Height;
  }

  .filters {
    height: $Height;
    padding: 0 5rem;
    background-color: $Very-Light-Gray;
    width: 100%;
  }
}

.drag-info {
  margin-top: 1.5rem;
}
