$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$Light-Grayish-Blue: hsl(233, 11%, 84%);
$Dark-Grayish-Blue: hsl(236, 9%, 61%);
$Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
$Bright-Blue: hsl(220, 98%, 61%);
$Border-Radius: 4px;
$Height: 3.4rem;
$Circle-Radius: 26px;
$Font-size: 18px;
$Normal: 400;
$Bold: 700;

$Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
