html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Josefin Sans;
  background-image: url("./assets/bg-desktop-light.jpg");
  background-repeat: no-repeat;
}
